extends ../../views/layout

block content
  .row
    .col-md-12
      .main-card.mb-3.card
        .card-body
          h5.card-title= title
          form.form-horizontal(method='POST' action='')
            include ../shared/_errors
            .position-relative.form-group
              label(for='username') User Name:  
              input#user_name.form-control(type='text' placeholder='user name (Christian)' name='username' )
            .position-relative.form-group
              label(for='password') password :
              input#password.form-control(type='password' placeholder='pass' name='password')
            .position-relative.form-group
              button.btn.btn-primary(type='submit') Submit
              a.btn.btn-link(href='/users/forgot') Forgot Password?
            a(href="/users/facebook_login") Login with Facebook
